
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body{
   font-family: "Lato", sans-serif;
   color: #424551;
   font-size: 16px;
}
.wrapper{
   overflow: hidden;
   position: relative;
	min-height: 100%;

	display: flex;
   flex-direction: column; 
}
.wrapper > main{
   flex-grow: 1;
}
/* ===================================== */
/* Обмежуючий контейнер */
[class*="__container"]{
   max-width: 1260px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}
/* ==========header============== */
.header{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 0px;
   z-index: 50;
}
.header__container{
   display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 60px;
}
.menu__list {
   display: grid; 
   grid-auto-flow: column; 
   grid-template-columns: auto auto auto auto 1fr; 
   gap: 40px;
}
.menu__link {
   font-weight: 700;
}
.menu__link:hover{
   text-decoration: underline;
}
.actions-header {
   display: grid;
   grid-auto-flow: column; 
   align-items: center;
   gap: 36px;
}
.actions-header__box{
   display: grid;
   grid-auto-flow: column; 
   gap: 20px;
}

.actions-header__auth {
   background: url("../img/icons/Person.svg") left no-repeat;
   padding-left: 24px;
   font-weight: 700;
   line-height: 1.25;
}
.actions-header__auth:hover span{
   text-decoration: underline;
}
@media (max-width: 1149px){
   .header__container{
      gap: 20px;}
}
@media (max-width: 1062px){
   .header__container{
      grid-template: auto auto auto / auto 1px;
      justify-items: center;
      gap: 10px;}
   .header__actions{
      grid-template-rows: 1fr 1fr;
      gap: 10px;
      justify-items: center;}
}
@media (max-width: 461px){
   .header__menu{
      display: none;}
}
/* ====================section 1===================== */

.main-block {
   padding: 200px 0px 80px 0px;
   background: linear-gradient(55.95deg, rgba(225, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
   position: relative;
   margin-bottom: 180px;
}
.main-block__container {
   position: relative;
   z-index: 2;
}
.main-block__body {
   margin-bottom: 190px;
}
.body-main {
   display: grid;
   grid-auto-flow: column;
}
.body-main__content{
   padding-right: 20px;
   align-self: center;
}
.body-main__play {
   font-weight: 700;
   font-size: 14px;
   display: inline-grid;
   align-items: center;
   gap: 16px;
   position: relative;
}
.body-main__play:not(:last-child){
   margin-bottom: 40px;
}
.body-main__play::after{
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 52px;
   height: 52px;
   border-radius: 50%;
   background: #FF3F3A;
   opacity: 0.12;
   transform: scale(1.6);
   animation: play-circle 1s infinite ease alternate;
}
.body-main__play::before{
   content: "";
   flex: 0 0 52px;
   width: 52px;
   height: 52px;
   background: #FF3F3A url("../img/icons/Polygon.svg") center no-repeat;
   border-radius: 50%;
}
@keyframes play-circle{
   0%{transform: scale(1.6);}
   100%{transform: scale(1.8);}
}
.body-main__play:hover::after{
   animation-play-state: paused;
}
.body-main__title {
   font-weight: 900;
   font-size: 64px;
   line-height: 130%;
   letter-spacing: 1px;
   color: #1E212c;
}
.body-main__title:not(:last-child){
   margin-bottom: 40px;
}
.body-main__actions {
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: 151px 202px;
   justify-items: start;
   align-items: center;
   gap: 24px;
}
.body-main__image {
   max-width: 107.8%;
   transform: translate(7.8%,0px);
}
@media (max-width: 1062px) {
   .body-main__title{
      font-size: 46px;}
   .body-main{
      grid-template-rows: 0.7fr 1fr;
      text-align: center;
      gap: 20px;}
   .main-block__body {
      margin-bottom: 40px;}
   .body-main__actions{
      justify-content: center;}
   .body-main__media{
       margin: 0 auto;}
   .body-main__image {
      max-width: 80%;
      transform: translate(0px,0px);}
   } 
@media (max-width: 707px){
   .body-main__actions{
      gap: 10px;
      grid-template: 0.8fr 0.8fr / 1fr 1px;
      justify-items: center;}
   }
@media (max-width: 691px){
   .body-main__title{
      font-size: 32px;}
   .body-main__title:not(:last-child){
      margin-bottom: 20px;}
   }
.advantages-main {
   display: grid;
   grid-auto-flow: column;
   justify-content: space-between;
   gap: 20px;
   align-items: center;
}
.item-advantages {
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: auto auto 54px;
   justify-items: end;
   align-items: center;
   gap: 12px;
   color: #1E212C;
}
.item-advantages__value {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%; 
}
.item-advantages__text {
   line-height: 1.5;
}
.item-advantages::after{
   content: "";
   background: #FF3F3A;
   height: 8px;
   width: 8px;
   border-radius: 50%;
}
@media (max-width: 948px){
   .item-advantages__value {
      font-size: 32px;}  
   .item-advantages__text {
      line-height: 1.2;} 
   .page__main{
         margin-bottom: 30px;}
   }
@media (max-width: 872px){
   .main-block__advantages{
      grid-template: auto auto auto auto / 1fr 1px;
      gap: 0px; }
   .item-advantages{
      grid-template-columns: 75px 150px;
      justify-content: center;
      justify-items: center;}
   .item-advantages::after{
       display: none;}
   .page__main{
      padding-bottom: 30px;
   }
   }
   @media (max-width: 509px){
   .body-main {
      grid-template-rows: 0.7fr 0.5fr;}
   .main-block__body {
      margin-bottom: 20px;}
   .item-advantages__value {
      font-size: 20px;}
   .item-advantages__text {
      font-size: 14px;
   }}
.decor-main {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
.decor-main__item {
   position: absolute;
}
.decor-main__item--1 {
   background: url("../img/decor/shapes.svg") 0 0 no-repeat;
   width: 96px;
   height: 96px;
   top: 12%;
   left: 4.2%;
}
.decor-main__item--2 {
   background: url("../img/decor/circles.svg") 0 0 no-repeat;
   width: 284px;
   height: 284px;
   bottom: -9.2%;
   left: -5.5%;
}
.decor-main__item--3 {
   background: url("../img/decor/shapes1.svg") 0 0 no-repeat;
   width: 88px;
   height: 47px;
   top: 45%;
   left: 40%;
}
.decor-main__item--4 {
   background: url("../img/decor/Vector.svg") 0 0 no-repeat;
   width: 61px;
   height: 61px;
   bottom: 24%;
   left: 38%;
}
.decor-main__item--5 {
   background: url("../img/decor/dots.svg") 0 0 no-repeat;
   width: 187px;
   height: 137px;
   bottom: 18%;
   right: -1.5%;
}
.decor-main__item--6 {
   background: url("../img/decor/shapes.svg") 0 0 no-repeat;
   width: 96px;
   height: 96px;
   top: -1.5%;
   right: 4%;
   transform: rotate(135deg);
}
@media (max-width: 691px){
   .decor-main{
      display: none;}
}
/* ====================section who=================== */
.page__who{
   margin-bottom: 180px;
}
.block-who{
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: auto 0.4fr;
   gap: 135px;
}
.block-who__media img{
   max-width: 100%;
}
.block-who__content{
   padding-left: 20px; 
   min-width: 390px; 
}
.block-who__list li{
   background: url(../img/icons/check.svg) 0 0 no-repeat;
   padding-left: 32px;
   min-height: 22px;
   line-height: 160%;
}
.block-who__list li:not(:last-child){
   margin-bottom: 12px;
}
.block-who__list{
   margin-bottom: 22px;
}

 @media (max-width: 1261px){
   .block-who {
      gap: 15px;}
}
@media (max-width: 1140px){
   .block-who{
      grid-template-rows: 0.7fr 0.5fr;}
   .block-who__media {
      text-align: center;}
   .block-who__content{
      min-width: 100%;}     
}
@media(max-width: 1106px){
   .page__who{
      margin-bottom: 30px;}
}
@media(max-width: 1021px){
   .who-block__decor{
      display: none;}
}
@media(max-width: 735px){
   .block-who__list li{
      line-height: 130%;}
   .block-who__list li:not(:last-child) {
      margin-bottom: 8px;}
   .block-who__button{
         width: 100%;}
   }

.who-block{
   position: relative;
}
.who-block__decor{
   pointer-events: none;
} 
.decor-who{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
.decor-who__item{
   position: absolute;
}
.decor-who__item--1{
   background: url("../img/decor/dots_ylw.svg") 0 0 no-repeat;
   width: 220px;
   height: 230px;
   top: 10.7%;
   left: -5.8%;
}
.decor-who__item--2{
   background: url("../img/decor/circles_pnk.svg") 0 0 no-repeat;
   width: 290px;
   height: 290px;
   top: 41.4%;
   right: -11%;
}
/* ==========section about=================== */
.page__about{
   margin-bottom: 180px;
}
.block-about{
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: 50% 38%;
   justify-content: space-between;
}
.block-about__media img{
   max-width: 100%;
}
.block-about__content{
   padding-right: 20px; 
}
.block-about__text{
   margin-bottom: 60px;
}
.block-about__text .text-main{
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   color: #1E212C;
}
.text p{
   font-weight: 400;
   line-height: 160%;
}
.text p:not(:last-child){
   margin-bottom: 24px;
}
.block-about__actions{
   display: grid;
   grid-auto-flow: column;
   align-items: center;
   gap: 24px;
}
 @media(max-width: 1148px){
   .block-about{
      justify-content: start;}
} 
@media(max-width: 1140px){
   .text p:not(:last-child){
      margin-bottom: 12px;}
   .block-about__text .text-main{
      font-size: 16px;}
   .block-about{
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;}
   .block-about__media {
      text-align: center;}
   .block-about__content{
      min-width: 100%;}     
}
@media(max-width: 1005px){
   .block-about__text{
      margin-bottom: 20px;}
   .block-about__media{
      grid-template-columns: 1fr;
      text-align: center;
      padding-top: 20px;}
   .block-about__content{
      grid-template-columns: 1fr;}
}
@media(max-width: 735px){
   .block-about__actions{
      grid-auto-flow: row;
      gap: 10px;}
   .block-about__button, 
   .block-about__button--border {
      width: 100%;} 
   .page__about{
      margin-bottom: 30px;}
}
@media(max-width: 430px){
   .block-about {
      grid-template-rows: 1fr 0.75fr;}
}
