@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff"), format("woff");
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff"), format("woff");
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
   font-display: swap;
   font-weight: 900;
   font-style: normal;
}

[class*="__container"]{
   max-width:810px;
   margin: 0 auto;
}

body{
   font-family: "Lato", sans-serif;
}

.wrapper{
   /* overflow: hidden; */
   position: relative;
	min-height: 100%;
	padding: 50px;
}

.header{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	padding: 15px;
	background-color: yellowgreen;
	z-index: 100;
}
.header__container {
	max-width: 810px;
	margin: 0 auto;
}
.menu {
	font-size: 0;
}
.menu__item {
	position: relative;
	display: inline-block;
}
.menu__item:not(:last-child){
	margin-right: 10px;
}
.menu__item:hover .sub-menu{
	opacity: 1;
	visibility: visible;
	top: 100%;
}
.menu__link {
	font-size: 16px;
	color: #fff;
	display: inline-block;
	padding: 5px 0px;
}
.sub-menu {
	background-color: #77608d;
	padding: 15px;
	position: absolute;
	min-width: 180px;
	top: 130%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease 0s;
}
.sub-menu__item:not(:last-child) {
	margin-bottom: 10px;
}
.sub-menu__link {
	font-size: 16px;
	color: #fff;
}
.main__items:not(:last-child){
   margin-bottom: 60px;
}
/* ==============car========================= */

.page__container{
   height: 800px;
   background-color: rgb(236, 215, 215);
}
.page__car{
   position: relative;
}
.nature__sun{
   border-radius: 50%;
   width: 100px;
   height: 100px;
   background-color: #e2850a;
   position: absolute;
   top: 10px;
   left: 10px;
}
.nature__heaven{
   background: url("../img/heaven.svg") 0 0 no-repeat;
   width: 226px;
   height: 78px;
   position: absolute;
   top: 20px;
   left: 200px;
}
.nature__heaven--2{
   position: absolute;
   top: 20px;
   left: 500px;
}

.car__body{
   border: 3px solid #df209f;
   border-radius: 50% 0% 1% 99% / 100% 78% 22% 0%;
   width: 500px;
   height: 300px;
   position: relative;
   top: 300px;
   left: 150px;
   background-color: #df209f;
}
.car__wheel{
   border: 3px solid;
   border-radius: 50%;
   width: 100px;
   height: 100px;
   position: relative;
   top: 250px;
   left: 200px;
   z-index: 1;
   background-color: #1f1d1d;
}
.car__wheel-insert{
   border: 3px solid;
   border-radius: 50%;
   width: 70px;
   height: 70px;
   position: relative;
   top: 10px;
   left: 10px;
   z-index: 1;
   background-color: #777070;
}
.car__wheel--duble{
   position: relative;
   top: 150px;
   left: 500px;
   z-index: 1;
}
.car__light{
   border: 3px solid #e2850a;
   border-radius: 50%;
   width: 50px;
   height: 60px;
   position: relative;
   left: 155px;
   background-color: #e2850a;
   z-index: 2;
}
.car__lettering{
   border: 2px solid grey;
   border-radius: 8px;
   padding: 5px;
   text-align: center;
   color: rgb(32, 20, 32);
   position: absolute;
   width: 180px;
   left: 320px;
   z-index: 1;
}
.car__window{
   border: 10px solid #b15793;
   border-radius: 70% 30% 0% 100% / 100% 10% 90% 0%;
   width: 180px;
   height: 150px;
   position: relative;
   bottom: 240px;
   left: 240px;
   background: url("../img/elon.jpg") 10px 5px / 100% no-repeat, #b15793;
}
.car__window2{
   border: 10px solid #b15793;
   border-radius: 0% 100% 0% 100% / 100% 0% 100% 0%;
   width: 180px;
   height: 150px;
   position: relative;
   bottom: 390px;
   left: 450px;
   background: url("../img/starlink.jpg") 0 0 / 100% no-repeat;
}

.road__body{
   position: relative;
   width: 810px;
   height: 150px;
   background-color: #1f1d1d;
   bottom: 250px;
}
.road__stripe{
   position: relative;
   width: 810px;
   height: 10px;
   background-color: #dacccc;
   bottom: 330px;
}

.page{
   margin-bottom: 20px;
}


