
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body{
   font-family: "Lato", sans-serif;
   color: #424551;
   font-size: 16px;
}

.wrapper{
   overflow: hidden;
   position: relative;
	min-height: 100%;

	display: flex;
   flex-direction: column; 
}
.wrapper > main{
   flex-grow: 1;
}
/* ===================================== */
/* Обмежуючий контейнер */
[class*="__container"]{
   max-width: 1260px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}
/* ==========header============== */
.header{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 0px;
   z-index: 50;
   background: linear-gradient(55.95deg, rgba(225, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
/* flex-container */
.header__container{
   display: flex;
   align-items: center;
   gap: 60px;
}
/* flex-elements */
.header__menu {
   flex-grow: 1;
}
.menu__list {
   display: flex;  
   flex-wrap: wrap;
   column-gap: 40px;
   row-gap: 10px;
}
.menu__link {
   font-weight: 700;
}
.menu__link:hover{
   text-decoration: underline;
}

.actions-header {
   display: flex;
   align-items: center;
   gap: 36px;
   flex-shrink: 0;
   flex-wrap: wrap;
}
.actions-header__auth {
   background: url("../img/icons/Person.svg") left no-repeat;
   padding-left: 24px;
   font-weight: 700;
   line-height: 1.25;
}
.actions-header__auth:hover span{
   text-decoration: underline;
}
/* ====================section 1===================== */
.drop-block {
   padding: 200px 0px 0px 0px;
   position: relative;
   margin-bottom: 50px;
}
.drop-block__container {
   position: relative;
   z-index: 2;
}

.body-drop {
   display: flex;
   flex-wrap: wrap;
}
.body-drop__content{
   flex: 0 1 65%;
   padding-left: 20px;
}
 .body-drop__media{
   flex: 0 1 35%;
} 
.body-drop__image {
   max-width: 107.8%;
   transform: translate(-7.8%, 0px);
}


/* ====================input=================== */
.form__input:focus{
	outline: 2px solid #6e6767; 
   border-radius: 4px;
}
.form__input {
	padding: 0px 15px;
	height: 52px;
   font-weight: 400;
   line-height: 160%;
   background: #FFFFFF;
   border: 1px solid #D7DADD;
   border-radius: 4px;
}
.form{
   display: flex;
   flex-wrap: wrap;
   row-gap: 24px; 
   column-gap: 25px;
   margin-bottom: 48px;
}
.form__line{
   flex: 0 1 340px; 
   display: flex;
   flex-direction: column;
   row-gap: 8px;
}
.form1__line{
   flex: 0 1 705px; 
   display: flex;
   flex-direction: column;
   row-gap: 8px;
}
.form1__area{
   width: 100%;
   padding: 15px;
   min-height: 128px;
   max-height: 250px;
   resize: vertical;
   font-weight: 400;
   line-height: 160%;
   background: #FFFFFF;
   border: 1px solid #D7DADD;
   border-radius: 4px;
}
/* ===================actions================== */
.actions{
   display: flex;
   flex-wrap: wrap;
   column-gap: 50px;
}
.actions__form{
   flex: 0 1 315px; 
}
.actions__button{
   flex: 0 1 340px;
   align-self: flex-start;
}
.checkbox{
   position: relative;
}
.checkbox__input{
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
}
.checkbox__input:checked + .checkbox__lable::before{
   background: #FF3F3A url("../img/icons/check.svg") center / 70% no-repeat;
}
.checkbox__text{
   align-self: center;
   font-weight: 400;
   line-height: 160%;
}
.checkbox__lable{
   cursor: pointer;
   display: inline-flex;
   gap: 10px;
}
.checkbox__lable::before{
   content: "";
   flex: 0 0 16px;
   width: 16px;
   height: 16px;
   background:#FF3F3A;
   transform: translate(0px, 6px);
}
/* ===============radio-buttons================= */
.form__title{
   font-size: 24px;
   line-height: 160%;
}
.form__box{
   position: relative;
}
.form__input--radio{
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
}
.form__input--radio:checked + .form__lable--radio::before{
   background: #FF3F3A url("../img/icons/check.svg") center / 70% no-repeat;
}
.form__lable--radio{
   cursor: pointer;
   display: inline-flex;
   gap: 10px;
}
.form__lable--radio::before{
   content: "";
   flex: 0 0 16px;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background:#FF3F3A;
   transform: translate(0px, 6px);
}
.form__text--radio{
   align-self: center;
   font-weight: 400;
   line-height: 160%;
}